################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MonsterHunterDB/FileContentIndex/5c190d5b-39ba-4ceb-89da-5761cab75764.vsidx
/.vs/MonsterHunterDB/FileContentIndex/6c269cb8-59c8-4f2f-a128-bdb05200a4d1.vsidx
/.vs/MonsterHunterDB/FileContentIndex/a29854ac-41b9-40e8-8803-43528015eb9c.vsidx
/.vs/MonsterHunterDB/FileContentIndex/c0c922e3-8346-4547-820b-52fae38f4c3e.vsidx
/.vs/MonsterHunterDB/FileContentIndex/04966388-4c3f-45e5-97ac-328365f5a071.vsidx
/.vs/MonsterHunterDB/FileContentIndex/51deb7e4-1ef4-4a87-a51b-d93517ac4030.vsidx
/.vs/MonsterHunterDB/FileContentIndex/0ae1fbef-b442-4238-afaa-7517fca5ec8e.vsidx
/.vs/MonsterHunterDB/FileContentIndex/4dd3bd78-12a8-4674-8ef9-460d584799c1.vsidx
/.vs/MonsterHunterDB/FileContentIndex/67bda313-0bba-47cf-9777-9c4a874ee26b.vsidx
/.vs/MonsterHunterDB/FileContentIndex/94c7f23c-0567-47e7-b8ae-9b8ab22391ee.vsidx
/.vs/MonsterHunterDB/FileContentIndex/d9e814d9-ec49-4317-ae45-5f182d5ba3da.vsidx
/.vs/MonsterHunterDB/FileContentIndex/1a5985e7-9277-47db-a21d-322a41f5ce4f.vsidx
/.vs/MonsterHunterDB/FileContentIndex/1f791708-4cd4-4531-9f54-4dafbb957bae.vsidx
/.vs/MonsterHunterDB/FileContentIndex/7b33073d-c8b4-4a39-872d-841b8f90ad56.vsidx
/.vs/MonsterHunterDB/FileContentIndex/ef65fa9e-9e05-4a81-a2bb-f51a45022841.vsidx
