################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MonsterHunterDB/FileContentIndex/5c190d5b-39ba-4ceb-89da-5761cab75764.vsidx
/.vs/MonsterHunterDB/FileContentIndex/6c269cb8-59c8-4f2f-a128-bdb05200a4d1.vsidx
/.vs/MonsterHunterDB/FileContentIndex/a29854ac-41b9-40e8-8803-43528015eb9c.vsidx
/.vs/MonsterHunterDB/FileContentIndex/c0c922e3-8346-4547-820b-52fae38f4c3e.vsidx
