<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Monster Hunter Database</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Introduction">
                <span class="oi oi-book" aria-hidden="true"></span> Introduction
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-bolt" aria-hidden="true"></span> Monsters
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Weakness">
                <span class="oi oi-bolt" aria-hidden="true"></span> Weakness
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
@*this page is an example of the Interface segragation principle*@
@*There are no unneeded interfaces to navigate our database*@
