@page "/Introduction"

<PageTitle>Introduction</PageTitle>

<h2>Introduction</h2>
<br />
<br />


<div>
    <p>There are monsters in this world. Some are obvious. Murderers, crooked politicians, people who take a penny but never leave one.
        They don't try to hide what they are. And if they do you can almost always find them out.
        Others though...others hide in the shadows and wait for darkness. Others feed on our worst fears and laugh the laugh of the damned.
        Others live for the sound of screams and the feeling of terror. This is a Database of such monsters. I have taken information from
        various monster hunters to build this list of data. You might recognize some of the foes of the great Abraham Van Helsing in this list.
        You might see some new faces that you do not know. But the most important face, is you, facing your fear!
    </p>
</div>

@code {
    
}
