@page "/Weakness"
@using MonsterHunterDB.Data


<PageTitle>Monster Weakness</PageTitle>

<h3>Monster Weakness</h3>
<div>
        <p>This list is organized by monster type. Compare the type of your monster
        and hopefully it has a weakness. </p>
        <br />
    <h5>Vampire</h5>
    <p>Sunlight, Crosses, Garlic, Stake through the heart, Holy Water.</p>
    <br />
    <h5>Werewolf</h5>
    <p>Silver Bullets</p>
    <br />
    <h5>Mummy</h5>
    <p>Fire</p>
    <br />
    <h5>Reanimated Dead</h5>
    <p>Fire, Headshots (sometimes), Decapitation</p>
    <br />
    <h5>Mutant Fishman</h5>
    <p>Electricity, Lack of Water</p>
    <br />
    <h5>Human</h5>
    <p>Normal ways to kill a human but if they are on this list they might have an advantage in a fight.</p>
    <br />
    <h5>Gremlin</h5>
    <p>Sunlight</p>
    <br />
    <h5>Dream Stalker</h5>
    <p>Stay awake. Good Luck.</p>

</div>





@code {
 
}
